.main-menu-background {
  position: absolute;
  isolation: isolate;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, .75);
  transition: opacity 500ms linear;
}