:root {
  --radious: 8px;
}

.location-search {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  width: 400px;
  border-radius: 1rem;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.search-input {
  box-sizing: border-box;
  background-image: url(../media/images/icons/search-magnifier.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center right;
  font-size: 1.75rem;
  padding: .25rem .75rem calc(.25rem + var(--radious));
  border: none;
  border-radius: var(--radious);
  transition: background-size 300ms, background-position 300ms;
}
.search-input:focus {
  outline: none;
  background-size: 2.5rem;
  background-position: top right;
}

.search-results {
  position: absolute;
  transform: translateY(calc(var(--radious) * -1));
  width: 100%;
  font-size: 1.5rem;
}

.search-result {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 65px;
  align-items: center;
}
.search-result:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.search-result:last-child {
  border-radius: 0 0 var(--radious) var(--radious);
}
.search-result p {
  margin: 5px;
}

.country-flag {
  font-size: 3rem;
}