:root {
  --radious: 8px;
  --max-flag-size: 2.75rem;
}

.location-search {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  width: 400px;
  border-radius: 1rem;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.search-input {
  --magnifier-focus-size: 2.5rem;
  box-sizing: border-box;
  background-image: url(../media/images/icons/search-magnifier.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center right;
  color: #444;
  font-size: 1.6rem;
  padding-top: .25rem;
  padding-right: calc(var(--magnifier-focus-size) + 3px);
  padding-bottom: calc(.25rem + var(--radious));
  padding-left: .75rem;
  border: none;
  border-radius: var(--radious);
  transition: background-size 300ms, background-position 300ms;
}
.search-input:focus {
  outline: none;
  background-size: 2.5rem;
  background-position: top right;
}

.search-results {
  position: absolute;
  transform: translateY(calc(var(--radious) * -1));
  width: 100%;
  font-size: 1.5rem;
}


.search-result {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: calc(var(--max-flag-size) * 1.25) 1fr;
  height: 65px;
  align-items: center;
  color: #444;
  cursor: pointer;
  user-select: none;
}
.search-result:hover {
  color: black;
}
.search-result:not(:last-child) {
  border-bottom: 1px solid white;
}
.search-result:last-child {
  border-radius: 0 0 var(--radious) var(--radious);
}
.search-result p {
  margin: 5px;
}

.country-flag {
  text-align: center;
  font-size: 2.5rem;
}
.search-result:hover .country-flag {
  font-size: var(--max-flag-size);
}