:root {
  --txt-color-1: #000;
  --txt-color-2: #222;
  --txt-color-3: #333;
}


body {
  background-color: darkslateblue;
  margin: 0;
  padding: 0;
}

/* for general use */

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
  pointer-events: none !important;
}