:root {
  --txt-color-1: #000;
  --txt-color-2: #222;
  --txt-color-3: #333;
}


body {
  background-color: darkslateblue;
}

/* for general use */

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}