.weather-hourly {
  height: 150px;
  overflow: hidden;
}

.hourly-chart {
  width: 100%;
  height: 100%;
}

.chart-line-hour,
.chart-line-base {
  stroke: gray;
  stroke-width: 2px;
}

.hourly-chart-temperature {
  fill: transparent;
  stroke: red;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 200ms linear;
}

.temp-chart-vertex {
  fill: green;
}