.weather-daily {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  width: 100vw;
  /* height: 300px; */
  background-color: rgba(0, 0, 0, .25);
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  overflow-x: auto;
}

.weather-daily * {
  margin: 0;
  text-align: center;
}

.daily-card {
  width: 200px;
  background-color: #766ea8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "daily-weather  daily-weather"
    "precipitations wind-speed   "
    "sunrise-sunset uv-index     ";
  padding: 2px;
  gap: 2px;
}

/* main, weathercode and temperatures */

.daily-weather {
  grid-area: daily-weather;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "current-day     "
    "day-weather-icon"
    "current-temp    "
    "apparent-temp   "
    "weather-descr   ";
}

.daily-day {
  grid-area: current-day;
  font-size: 1.5rem;
}

.daily-weather-icon {
  grid-area: day-weather-icon;
  height: 100px;
}

.daily-temp-div {
  grid-area: current-temp;
  display: flex;
  gap: 5px;
}

.daily-temp {
  font-size: 3.5rem;
  font-weight: 800;
}

.daily-temp-unit {
  --font-size: 3rem;
  grid-area: current-temp-unit;
  width: var(--font-size);
  height: var(--font-size);
  font-size: var(--font-size);
}

.daily-temp-apparent-div {
  grid-area: apparent-temp;
  display: flex;
  gap: 5px;
}

.daily-temp-apparent {
  font-size: 2rem;
}

.daily-temp-apparent-unit {
  --font-size: 1.5rem;
  grid-area: apparent-temp-unit;
  width: var(--font-size);
  height: var(--font-size);
  font-size: var(--font-size);
  margin-top: 5px;
}

.daily-weather-description {
  grid-area: weather-descr;
  font-size: 1.5rem;
}

/* precipitations */

.daily-precipitations {
  grid-area: precipitations;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "icon quantity"
    "icon hours   ";
  align-items: center;
  gap: 0px 0px;
}

.daily-precipitations-icon {
  grid-area: icon;
  width: 100%;
  height: 100%;
  background: url(../media/images/weather-daily/precipitations.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

.daily-precipitation-quantity {
  grid-area: quantity;
  font-size: 1rem;
}

.daily-precipitations-hours {
  grid-area: hours;
  font-size: 1rem;
}

/* wind speed */

.daily-wind {
  grid-area: wind-speed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "icon speed"
    "icon unit ";
  align-items: center;
  gap: 0px 0px;
}

.daily-wind-icon {
  grid-area: icon;
  width: 100%;
  height: 100%;
  background: url(../media/images/weather-daily/wind.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

.daily-wind-speed {
  grid-area: speed;
  font-size: 1rem;
  text-align: left;
}

.daily-wind-speed-unit {
  --font-size: 1rem;
  grid-area: unit;
  width: calc(var(--font-size) * 2.5);
  height: var(--font-size);
  font-size: var(--font-size);
}

/* sunrise and sunset */

.daily-sunrise-sunset {
  grid-area: sunrise-sunset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "icon sunrise "
    "icon sunset";
  align-items: center;
  gap: 0px 0px;
}

.daily-sunrise-sunset-icon {
  grid-area: icon;
  width: 100%;
  height: 100%;
  background: url(../media/images/weather-daily/sunrise-sunset.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

.daily-sunrise {
  grid-area: sunrise;
  font-size: 1rem;
}

.daily-sunset {
  grid-area: sunset;
  font-size: 1rem;
}

/* UV index */

.daily-uv {
  grid-area: uv-index;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "icon index "
    "icon uv    ";
  align-items: center;
  gap: 0px 0px;
}

.daily-uv-icon {
  grid-area: icon;
  width: 100%;
  height: 100%;
  background: url(../media/images/weather-daily/uv-index.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

.daily-uv-index {
  grid-area: index;
  font-size: 1rem;
  text-align: left;
}

.daily-uv-text {
  grid-area: uv;
  font-size: 1rem;
  text-align: left;
}