.weather-daily-hourly {
  --duration: 200ms;
  position: absolute;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  width: 100vw;
  max-width: 1230px;
  border-top-left-radius: 10px;
  transition: background-color var(--duration) ease-in-out,
  backdrop-filter var(--duration) ease-in-out,
  box-shadow var(--duration) ease-in-out;
}

.weather-daily-hourly:hover {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(15px);
  box-shadow: inset 4px 4px 6px rgba(255, 255, 255, .5);
}