:root {
  --gauge-border-width: 10px;
  --unit-underline-width: 4px;
  --compass-color: rgba(50, 50, 255, .10);

}

.weather-current {
  isolation: isolate;
  overflow: hidden;
  width: 600px;
  height: 350px;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "city city city"
    "icon temp temp"
    "icon humi wind"
    "code humi wind";
  gap: 5px;
  background-color: rgba(255, 255, 255, .25);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: opacity 2s;
}

.weather-current p {
  margin: 0;
}

/* city name */

.city-div {
  grid-area: city;
  text-align: center;
}

.city-para {
  font-size: 1.75rem;
  font-weight: 800;
  padding: .25rem .5rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* icon */

.weather-current-icon {
  grid-area: icon;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* weathercode */

.weathercode-div {
  grid-area: code;
  text-align: center;
}

.weathercode-para {
  font-size: 1.5rem;
}

/* temperature */

.temp-div {
  grid-area: temp;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "curr unit"
    "feel feel";
}

.temp-current {
  grid-area: curr;
  font-size: 5rem;
  font-weight: 800;
}

/* humidity */

.humidity-div {
  grid-area: humi;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.humidity-gauge {
  position: relative;
  box-sizing: border-box;
  isolation: isolate;
  aspect-ratio: 1/1;
  height: 100%;
  border: var(--gauge-border-width) solid rgba(50, 50, 255, .25);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.humidity-gauge-percent {
  position: absolute;
  border: var(--gauge-border-width) solid blue;
  border-radius: 50%;
  inset: calc(var(--gauge-border-width) * -1);
}

.humidity {
  font-size: 4rem;
}

.humidity-title {
  font-size: 1.25rem;
}

/* wind */

.wind-div {
  grid-area: wind;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.wind-gauge {
  position: relative;
  box-sizing: border-box;
  isolation: isolate;
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wind-speed {
  font-size: 4rem;
}

.wind-compass {
  position: absolute;
  inset: 0;
  background:
    url(../media/images/wind-compass.svg) no-repeat,
    radial-gradient(transparent 60%, var(--compass-color) 61%, var(--compass-color) 69%, transparent 70%);
  background-size: 100%;

}

.wind-direction {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  rotate: 0deg;
  background: radial-gradient(transparent 60%, rgba(0, 0, 255, .5) 60%);
  mask-image: conic-gradient(red 5%, transparent 5%, transparent 95%, red 95%);
}

.wind-title-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wind-title {
  font-size: 1.25rem;
}

/* for units */

.gauge-unit {
  grid-area: unit;
  position: relative;
  align-self: center;
  justify-self: left;
  width: 5rem;
  height: 4.5rem;
  font-size: 4rem;
  cursor: pointer;
  overflow: hidden;
  appearance: none;
}
.gauge-unit:hover {
  background: linear-gradient(to top, blue var(--unit-underline-width), transparent var(--unit-underline-width));
}
.gauge-unit::before,
.gauge-unit::after {
  position: absolute;
  left: 0;
  inset: 0;
  transition: top 200ms ease-in-out;
}
.gauge-unit::before {
  /* content: "°F"; */
  top: 100%;
}
.gauge-unit::after {
  /* content: "°C"; */
  top: 0;
}
.gauge-unit:checked::before {
  top: 0;
}
.gauge-unit:checked::after {
  top: 100%
}

.temp-apparent-div {
  grid-area: feel;
  font-size: 1.25rem;
  display: flex;
}

.temp-apparent {
  padding-left: 5px;
}

.gauge-unit-apparent {
  grid-area: unset;
  width: 1.25rem;
  height: 1rem;
  font-size: 1rem;
  justify-self: left;
}

.gauge-unit.temperature-unit::before {
  content: "°F";
}
.gauge-unit.temperature-unit::after {
  content: "°C";
}

.wind-speed-unit{
  width: 2.25rem;
  height: 1.25rem;
  font-size: 1rem;
}
.gauge-unit.wind-speed-unit::before {
  content: "mph";
}
.gauge-unit.wind-speed-unit::after {
  content: "km/h";
}
