:root {
  --chart-transition: 200ms linear;
}

.weather-hourly {
  height: 150px;
  overflow: hidden;
  transition: opacity 2s;
}

.hourly-chart {
  width: 100%;
  height: 100%;
}

.chart-line-hour,
.chart-line-base {
  stroke: gray;
  stroke-width: 2px;
}

/* temp related */

.temp-chart-group {
  opacity: 1;
}

.hourly-chart-temp {
  fill: transparent;
  stroke: red;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: var(--chart-transition);
}

.temp-chart-vertex {
  fill: green;
  transition: var(--chart-transition);
}

/* temp apparent related */

.temp-apparent-chart-group {
  opacity: .5;
}

.hourly-chart-temp-apparent {
  fill: transparent;
  stroke: coral;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: var(--chart-transition);
}

.temp-apparent-chart-vertex {
  fill: green;
  transition: var(--chart-transition);
}

/* wind related */

.wind-chart-group {
  opacity: .25;
}

.hourly-chart-wind {
  fill: transparent;
  stroke: blue;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: var(--chart-transition);
}

.wind-chart-vertex {
  fill: blueviolet;
  transition: var(--chart-transition);
}
