:root {
  --chart-transition: 200ms linear;
  --weather-hourly-div-height: 200px;
  --chart-text-color-fill: #ddd;
  --chart-text-shadow: 1px 1px black;
  --chart-color-temp: red;
  --chart-color-apparent: coral;
  --chart-color-wind: blue;
  --chart-color-humidity: aquamarine;
}

/* chart divisions and hours */

.weather-hourly {
  position: relative;
  height: var(--weather-hourly-div-height);
  transition: opacity 2s;
}

.hourly-chart {
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(to right, transparent, black 3%);
  filter: drop-shadow(1px 1px 2px black);
}

.chart-line-hour,
.chart-line-base {
  stroke: gray;
  stroke-width: 2px;
}

.hours-chart-text {
  fill: var(--chart-text-color-fill);
  text-shadow: var(--chart-text-shadow);
}

/* temp related */

.temp-chart-group {
  opacity: 1;
}

.hourly-chart-temp {
  fill: transparent;
  stroke: var(--chart-color-temp);
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: var(--chart-transition);
}

.temp-chart-vertex {
  fill: var(--chart-color-temp);
  transition: var(--chart-transition);
}

.temp-chart-text {
  fill: var(--chart-text-color-fill);
  text-shadow: var(--chart-text-shadow);
}

/* temp apparent related */

.temp-apparent-chart-group {
  opacity: .5;
}

.weather-hourly:hover .temp-apparent-chart-group {
  opacity: 1;
}

.hourly-chart-temp-apparent {
  fill: transparent;
  stroke: var(--chart-color-apparent);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: var(--chart-transition);
}

.temp-apparent-chart-vertex {
  fill: var(--chart-color-apparent);
  transition: var(--chart-transition);
}

/* wind related */

.wind-chart-group {
  opacity: .25;
}

.weather-hourly:hover .wind-chart-group {
  opacity: 1;
}

.hourly-chart-wind {
  fill: transparent;
  stroke: var(--chart-color-wind);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: var(--chart-transition);
}

.wind-chart-vertex {
  fill: var(--chart-color-wind);
  transition: var(--chart-transition);
}

/* humidity related */

.humidity-chart-group {
  opacity: .25;
}

.weather-hourly:hover .humidity-chart-group {
  opacity: 1;
}

.hourly-chart-humidity {
  fill: transparent;
  stroke: var(--chart-color-humidity);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: var(--chart-transition);
}

.humidity-chart-vertex {
  fill: var(--chart-color-humidity);
  transition: var(--chart-transition);
}

/* hourly weather icon related */

.chart-weather-icons-div {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(var(--weather-hourly-div-height) - 23px);
  user-select: none;
  display: flex;
  align-items: flex-end;
}

.chart-weather-icon {
  height: 100%;
  flex: 1 1 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

/* detail div related */

.chart-details-div {
  position: absolute;
  background-color: rgba(255, 255, 255, .05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .25),
    inset 2px 2px 2px rgba(255, 255, 255, .25);
  backdrop-filter: blur(5px);
  padding: 10px 5px 10px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  color: var(--chart-text-color-fill);
  text-shadow: var(--chart-text-shadow);
  width: 170px;
  transition: border-radius 300ms ease-out 300ms;
}
.chart-details-div div {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-areas: "... text";
}

.chart-details-div p {
  grid-area: text;
  margin: 0;
}

.chart-details-symbol {
  width: 15px;
  height: 15px;
}

.chart-details-symbol-temp {
  background-color: var(--chart-color-temp);
}

.chart-details-symbol-apparent {
  background-color: var(--chart-color-apparent);
}

.chart-details-symbol-wind {
  background-color: var(--chart-color-wind);
}

.chart-details-symbol-humidity {
  background-color: var(--chart-color-humidity);
}